<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SmartHomePreprod.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
				<key>dateExpires</key>
				<string>10/01/2019</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AccengageKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BlurView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaAsyncSocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaMQTT.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CorePlot.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EnkiMobileSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JTAppleCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Lockbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MGSwipeTableCell.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactiveObjC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Result.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SHXMLParser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyTimer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Timepiece.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UIAlertView_Blocks.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UITextView_Placeholder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>iCarousel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C426DD8292AAEAF11B1249FE45AD827716BC0C8</string>
						<key>dateExpires</key>
						<string>10/01/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>iOS_blur.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EBT8MWN76X</string>
						<key>name</key>
						<string>Leroy Merlin</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>EBT8MWN76X.com.leroymerlin.enki.preprod</string>
				<key>com.apple.developer.team-identifier</key>
				<string>EBT8MWN76X</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>EBT8MWN76X.com.leroymerlin.enki.qlf2</string>
				</array>
			</dict>
			<key>name</key>
			<string>EnkiPreprod.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>14e8c9e7-8cc3-4cc6-9c85-273c12ba9c19</string>
				<key>name</key>
				<string>Enki Distribution Generic 02/18</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>EBT8MWN76X</string>
				<key>name</key>
				<string>Leroy Merlin</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
